*{
  margin: 0;
  padding: 0 0 0 0;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #c31432, #240b36);
}

.header--text {
  color: lightgreen;
  margin-left: 2rem;
}

.dollar--image{
  margin-left: auto;
  margin-right: 2rem;
}

.main--text,
.how-much,
.main--revenue {
  text-align: center;
}

.main--text{
  padding-top: 25px;
  padding-bottom: 25px;
}

.main--search,
.main--select {
  margin: 0 auto;
  display: block;
}

.go--container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.main--go{
  margin-top: 3rem;
  width: 50px;
  height: 20px; 
}

.how-much{
  padding-top: 25px;
}

.main--select{
  margin-top: 15px;
}

.main--revenue {
  padding-top: 100px;
}